@namespace Anir.Client.Components
@using MudBlazor

<MudDialog>
    <DialogContent>
        @* SE ENVUELVE EN UN DIV NORMAL. Así nunca falla el intellisense *@
        <div class="pa-4">
            
            @* MEJORA: Ahora usa el parámetro Title en vez de tener el texto quemado *@
            <MudText Typo="Typo.subtitle1" Class="font-weight-bold mb-3">@Title</MudText>

            <MudTable Items="@Items"
                      Dense="true"
                      Elevation="0"
                      Outlined="true"
                      Hover="true"
                      RowsPerPage="5">
                <HeaderContent>
                    <MudTh>ID</MudTh>
                    <MudTh>Nombre</MudTh>
                </HeaderContent>
                <RowTemplate Context="item">
                    <MudTd>@item.Id</MudTd>
                    <MudTd>@item.Name</MudTd>
                </RowTemplate>
                <NoRecordsContent>
                    <MudText Typo="Typo.body2" Color="Color.Secondary" Class="pa-4">No hay items bloqueados.</MudText>
                </NoRecordsContent>
            </MudTable>

        </div>
    </DialogContent>

    <DialogActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="Close">Cerrar</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] private IDialogReference Dialog { get; set; } = default!;

    [Parameter] public string Title { get; set; } = "Items bloqueados";
    [Parameter] public List<BlockedItem> Items { get; set; } = new();

    private void Close() => Dialog.Close();

    public class BlockedItem
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }
}